.chat--bubble--received{
    background-color: $--$extras;
    max-width: 500px;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-inline: 1rem;


    @include mobile{
        max-width: 80%;
    }

    i{
        text-align: right;
        color: $--bgColor2;
        
        &:last-child{
            font-size: 0.8rem;
            color: $--bgColor2;
        }
    }

    &:before{
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 10px solid transparent;
        border-right: 10px solid $--primary;
        border-top: 10px solid $--primary;
        border-bottom: 10px solid transparent;
        left: -20px;
        top: 6px;   
    }


    @include mobile{
        p{
            font-size: 0.8rem;
        }

        i{
            font-size: 0.7rem;

            &:last-child{
                font-size: 0.6rem;
            }
        }
    }

}

.chat--bubble--sent{
    background-color: $--primary;
    max-width: 500px;
    min-width: 200px;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-inline: 1rem;
    align-self: flex-end;

    @include mobile{
        max-width: 80%;
        min-width: 200px;
    }

    i{
        text-align: right;
        color: $--bgColor2;
        
        &:last-child{
            font-size: 0.8rem;
            color: $--bgColor2;
        }
    }

    &:before{
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 10px solid $--primary;
        border-right: 10px solid transparent;
        border-top: 10px solid transparent;
        border-bottom: 10px solid $--primary;
        right: -19px;
        top: 20px;   
    }


    @include mobile{
        p{
            font-size: 0.8rem;
        }

        i{
            font-size: 0.7rem;

            &:last-child{
                font-size: 0.6rem;
            }
        }
    }
}