@import './variables';


@mixin flex($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
@mixin screenSize($size){
    @media only screen and (max-width: $size){
        @content;
    }
}
@mixin mobile(){
    @media only screen and (max-width: 1000px){
        @content;
    }
}
@mixin tablet(){
    @media only screen and (min-width: 1001px) and (max-width: 1500px){
        @content;
    }
}
@mixin containerDesktop{
    width: 85%;
    min-height: 100vh;
    float: right;
    margin: 0;
    @include flex(column);

    >div{
        // border: solid green;
    }

    @include mobile(){
        width: 100%;
    }
}

@mixin containerMobile{
    width: 100%;
}

@mixin border{
    border: 1px solid $--primary;
    border-radius: 0.3rem;
}