// NOTES page Component
#notes{
    @include containerDesktop;
    align-self: center;
    // margin-block: 25vh;
    // height: 100vh;
    
    .accordion--container{
        width: 70%;
        background-color: $--main;
        padding: 3rem 1rem;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        p{
            color: $--secondary;
        }

        @include mobile(){
            width: 90%;
        }

        .accordion{
            padding-block: 1rem;

            .accordion--tab{
                display: flex;
                justify-content: space-between;
                border-top: 1px solid $--secondary;
                border-bottom: 1px solid $--secondary;
                padding-block: 0.5rem;
                align-items: center;
                cursor: pointer;
                
                h2{
                    color: $--secondary;
                    font-size: 1.5rem;

                    @include mobile(){
                        font-size: 1rem;
                    }
                }

                & h2:last-child{
                    color: $--primary;
                }
            }

            .notes--detail{
                padding-block: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                #Level1, #Level2,#Level3,#Level4,#Level5, 
                #others1, #others2, #others3, #others4, #others5 {
                    display: none;                   
                }

                .level{
                    @extend .accordion--tab;

                    h2{
                        font-size: 1.15rem;
                    }
                }


                .note--title{
                    display: flex;
                    flex-direction: column;
                    margin-block: 1rem;
                    border-left: solid $--primary;
                    padding-inline: 0.5rem;
                    
                    p{
                        text-transform: uppercase;
                        color: $--primary;
                        font-weight: bold;
                    }
                
                    span{
                        text-transform: capitalize !important;
                    }

                    div:last-child{
                        @include flex(row);
                        justify-content: end;
                        
                        small{
                            color: $--secondary;
                        }

                        button{
                            padding: 1px 0.3rem;
                            
                            a{
                                color: $--secondary;
                                font-size: 0.8rem;
                                text-transform: capitalize;
                                padding: 1px 0.3rem;
                                
                                &:hover{
                                    color: $--default;
                                }
                            }
                        }
                    }
                }

                p{
                    color: $--primary;
                }
                
            }
        }
        
        
    }
}