.profile--card{
    min-width: 400px;
    @include flex(column);
    position: absolute;
    background-color: $--main;
    border-radius: 0.5rem;
    padding-block: 1rem;
    text-align: center;
    top: 30%;
    text-transform: capitalize;

    @include mobile{
        width: 80%;
    }

    h3{
        text-transform: lowercase;
    }

    p{
        text-align: center;
    }

    img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1px solid $--secondary;
    }

    button{
        width: max-content;
    }
}