.quotes--section{
    @extend .homepage--sizing;
    background-color: $--primary;
    @include flex(column);

    @include mobile{
        width: 90%;
    }


    button{
        background-color: $--secondary;
        a{
            color: $--main;
        }
    }

    #quotes{
        width: 90%;
        @include flex(row);
        gap: 0.5rem;
        text-align: center;
        flex-wrap: wrap;


        @include tablet{
            width: 100%;
        }

        @include mobile{
            width: 90% !important;
        }


        .quote--card{
            @extend .card2;
            display: grid;
            place-items: center;
            min-width: 300px;
            min-height: 200px;

            i{
                color: $--primary;
                text-transform: capitalize;
            }


            @include mobile{
                min-width: 200px;
            }


        }
    }
}