$--main: #fff;
// $--main: #1a2930;
$--bgColor: #fff9eb;
$--bgColor2: #f6f6f6;
$--primary: #ffbd0c;
$--extras: #d89d00;
$--secondary: #1a2930;
// $--secondary: #e3dcda;
$--default: #fff;

// $--main: #fff;
// // $--main: #1a2930;
// $--bgColor: #fff9eb;
// $--primary: #ffbd0c;
// $--secondary: #1a2930;
// // $--secondary: #e3dcda;
// $--default: #fff;

// fonts

// $--Noto:  'PT Mono', monospace;
// $--Blinker:  'Blinker', sans-serif;
// $--Ubuntu: 'Ubuntu Mono', monospace;
$--Noto:  'Space Grotesk', sans-serif;
$--Blinker:  'Space Grotesk', sans-serif;
$--Ubuntu: 'Space Grotesk', sans-serif;