@import './variables';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@mixin flex($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
@mixin screenSize($size){
    @media only screen and (max-width: $size){
        @content;
    }
}
@mixin mobile(){
    @media only screen and (min-width: 280px) and (max-width: 1000px){
        @content;
    }
}
@mixin tablet(){
    @media only screen and (min-width: 1001px) and (max-width: 1500px){
        @content;
    }
}
@mixin containerDesktop{
    width: 80%;
    height: 95vh;
    float: right;
    margin: 0;
    @include flex(column);

    @include mobile(){
        width: 100%;
    }
}

@mixin containerMobile{
    width: 100%;
}

@mixin border{
    border: 1px solid $--primary;
    border-radius: 0.3rem;
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: rotate(30deg);
    }
  }
@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }


html, body{
    margin: auto;
    scroll-behavior: smooth;
    font-family: $--Noto;
    width: 100%;
    height: 100%;
    background-color: $--bgColor;
    line-height: 1.6;
    word-wrap: break-word;
}

a{
    color: $--secondary;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
}
img{
    display: block;
    max-width: 100%;
    object-fit: cover;
}
ul{
    list-style-type: none;
}
div,
button,
h1,h2,h3,h4,h5,h6,
span,p{
    margin: 0;
}
h1{
    font-family: $--Blinker;
    font-size: 3.5rem;
    font-weight: 700 !important;

    @include mobile(){
        font-size: 2rem;
    }
    @include screenSize(280px){
        font-size: 1.5rem;
    }
}
h2{
    font-family: $--Blinker;
    font-size: 2rem;
    text-transform: capitalize;

    @include mobile(){
        font-size: 1.15rem;
    }

    @include screenSize(280px){
        font-size: 1rem;
    }

    @include tablet(){
        font-size: 1.7rem;
    }
    
}
h3{
    font-family: $--Blinker;
    text-transform: Capitalize;

    @include mobile(){
        font-size: 1rem;
    }

    @include screenSize(280px){
        font-size: 0.85rem;
    }
}
h4{
    text-transform: uppercase;
    font-family: $--Blinker;
    font-size: 1rem;

    @include mobile(){
        font-size: 0.8rem;
    }
}
p{
    text-align: justify;

    @include screenSize(280px){
        font-size: 0.8rem;
    }
}
span{
    color: $--secondary;
}
i{
    text-transform: lowercase;
}
input, 
select,  
textarea{
    width: 80%;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 0.8rem 0.5rem;
    border: 0px solid $--primary;
    border-radius: 0.3rem;
    background-color: $--bgColor;
    color: $--main;
    resize: none;
    
    &:hover{
        @include border;
    }

    @include mobile(){
        width: 100%;
        font-size: 16px;
    }

}

input[type=submit]{
    font-family: $--Blinker;
    background-color: $--primary;
    color: $--main;
    font-weight: 1000;
    cursor: pointer;

    @include mobile(){
        font-weight: 100;
        -webkit-border-radius:0;
        -webkit-appearance: none; 
    }
}
::placeholder{
    font-size: 1rem;

}

button{
    @extend input;
    width: max-content;
    font-family: $--Blinker;
    font-size: 1rem;
    font-weight: 400;
    border: 0;
    background-color: $--primary;
    text-transform: capitalize;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    color: black;
    cursor: pointer;

    &:hover{
        background-color: $--main;
        color: $--default;
    }

    @include mobile(){
        font-weight: 100;
    }
}
label{
    font-size: 1.1rem;
    text-align: left;

    @include mobile(){
        font-size: 1rem;
    }
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.loader{
    margin: auto;
    width: 100% !important;
    height: 100vh !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
}
.error{
    color: red;
}
.success{
    color: $--primary;
}

// setting toastify width
.Toastify{
    .Toastify__close-button{
        width: max-content;
    }
    .Toastify__close-button--light{
        width: max-content;
    }
}

// COMPONENTS STYLING starts here


// HEADER
header{
    width: 80%;
    margin: auto;
    margin-block: 5rem;
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    img{
        // width: 100%;

        @include mobile(){
            width: 60%;
        }
    }

    div{
        padding: 1rem;
    }

    .info{

        *{
            padding-block: 0.5rem;
        }

        h1{
            width: 100%;
            line-height: normal;
            text-transform: none;
            color: $--primary;
            text-shadow: 1px 1px 2px $--main;
        }
    
        p{
            font-size: 1.1rem;
            line-height: 2;

            @include screenSize(280px){
                font-size: 0.8rem;
            }
        }
    
        button{
            font-weight: bolder;
            font-size: 1.2rem;

            &:hover{
                background-color: $--main;
                    color: white;
            }

            a{
                color: $--main;

                &:hover{
                    background-color: $--main;
                    color: white;
                }
            }

            @include screenSize(280px){
                font-size: 0.8rem;
            }
    
            
        }

    }

    @include mobile(){
        @include flex(column-reverse);
        width: 90%;
        gap: 0rem;

        .info{
            padding: 0;
            margin: 0;
            margin-top: -2rem;
            *{
                padding-block: 0.1rem;
            }

            h2{
                font-size: 1.4rem;
                text-shadow: 1px 1px 1px $--main;
            }

            button{
                font-weight: normal;
                font-size: 1rem;
                padding: 0.3rem 0.5rem;
                border-radius: 0.3rem;
            }
        }
    }
    
    
}
// feedback section
section{
    width: 70%;
    margin: auto;
    margin-block: 2rem;
    border-radius: 1rem;
    background-color: $--main;
    padding: 2rem;
    @include flex(row);
    justify-content: space-evenly;
    color: $--default;

    a{
        color: inherit;
    }

    @include mobile(){
        width: 90%;
        flex-direction: column;
        padding: 1rem;

        *{
            text-align: center;
        }
    }

}
.card1{
    background-color: $--primary;
    width: 350px;
    height: 260px;
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    padding: 1rem;
    margin: 2rem auto;
    transition: all 300ms;

    &:hover{
        transform: scale(1.05);
    }

    @include screenSize(500px){
        width: 90%;
        margin: auto;
    }

    @include screenSize(280px){
        width: 100%;
    }

    @include mobile(){
        height: auto;
    }
    

    *{
        padding-block: 0.1rem;
        text-align: justify;
    }

    h3{
        width: max-content;
        font-size: 1.5rem;
        
    }

    h2{
        font-size: 1.5rem;
        color: $--main;
        @include mobile(){
            font-size: 1.2rem;
        }
    }

    p{
        font-size: 1.1rem;
        font-weight: normal;

        @include mobile(){
            font-size: 1rem;
        }
    }
}
.card2{
    @extend .card1;
    background-color: $--secondary;
    
    h2{
        color: $--primary;
    }

    h3, p{
        color: $--main;
    }
}
.card3{
    @extend .card1;
    background-color: $--bgColor;

    h2,p{
        color: $--main;
    }

    h3{
        color: $--primary;
    }
}
.card4{
    @extend .card1;
}
.card5{
    @extend .card1;
    background-color: $--default;

    h2{
        color: $--main;
    }

    h3{
        color: $--primary;
    }

    p{
        color: $--main;
    }
}

.how--to{
    @extend section;
    justify-content: center;
    background-color: $--main;
    flex-wrap: wrap;

    >div{
        @include flex(row);
        justify-content: space-evenly;

        .arrow--right{
            font-size: 2rem;

            @include mobile(){
                display: none;
            }
        }
        .arrow--down{
            font-size: 2rem;
            display: none;

            @include mobile(){
                display: block;
            }
        }

        @include mobile(){
            flex-direction: column;
        }
    }
}
// HOME Component
#notes{
    @include containerDesktop;
    width: 80%;
    align-self: center;
    // margin-block: 25vh;
    // height: 100vh;
    
    .accordion--container{
        width: 70%;
        background-color: $--main;
        padding: 3rem 1rem;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;

        p{
            color: white;
        }

        @include mobile(){
            width: 90%;
        }

        .accordion{
            padding-block: 1rem;

            .accordion--tab{
                display: flex;
                justify-content: space-between;
                border-top: 1px solid $--secondary;
                border-bottom: 1px solid $--secondary;
                padding-block: 0.5rem;
                align-items: center;
                cursor: pointer;
                
                h2{
                    color: $--secondary;

                    @include mobile(){
                        font-size: 1rem;
                    }
                }

                & h2:last-child{
                    color: $--primary;
                }
            }

            .notes--detail{
                padding-block: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                #Level1, #Level2,#Level3,#Level4,#Level5, 
                #others1, #others2, #others3, #others4, #others5 {
                    display: none;                   
                }

                h2{
                    font-size: 1.15rem;
                }

                .level{
                    @extend .accordion--tab;
                }


                .note--title{
                    display: flex;
                    flex-direction: column;
                    margin-block: 1rem;
                    border-left: solid $--bgColor;
                    padding-inline: 0.5rem;

                    
                    p{
                        text-transform: uppercase;
                        color: $--primary   ;
                    }
                
                    span{
                        text-transform: capitalize !important;
                    }

                    div:last-child{
                        @include flex(row);
                        justify-content: end;
                        
                        small{
                            color: white;
                        }

                        button{
                            padding: 1px 0.3rem;
                            
                            a{
                                color: $--main;
                                font-size: 0.8rem;
                                text-transform: capitalize;
                                padding: 1px 0.3rem;
                                
                                &:hover{
                                    color: $--default;
                                }
                            }
                        }
                    }
                }

                p{
                    color: $--primary;
                }
                
            }
        }
        
        
    }
}

// NAV Styling
// Desktop Nav
nav{
    position: fixed;
    left: 0;
    width: 20%;
    height: 100vh;
    background-color: $--main;
    @include flex(column);
    justify-content: center;
    padding-block: 2rem;
    z-index: 9;

    @include mobile(){
        display: block;
        top: 0;
        height: auto;
        width: 100%;
        padding: 0.5rem;
    }
    h3{
        width: max-content;
        color: $--secondary;
        text-transform: lowercase;

        @include mobile(){
            display: none;
        }
    }
    i{
        padding-block: 1rem;
        
        @include mobile(){
            display: none;
        }
    }

    ul{
        width: 100%;
        margin: auto;
        font-family: $--Blinker;
        color: $--secondary;
        
        @include mobile(){
            display: none;
        }
        
        li{
            width: 100%;
            padding: 1rem 0.5rem;
            margin-block: 2rem;
            border-top: 1px solid $--bgColor;
            border-bottom: 1px solid $--bgColor;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 1.5rem;
            font-weight: 600;
            
            
            &:hover{
                color: $--primary;
            }
            
            @include tablet(){
                font-size: 1.3rem;
            }
        }
    }

    .nav--buttons--container{
        @include flex(column);
        width: 50%;
        margin: auto;
        
        button, .nav--buttons--Link{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            a{
                color: black;

                &:hover{
                    color: $--default;
                }
            }
        }

        @include mobile(){
            display: none;
        }
        @include tablet(){
            width: 100%;
            padding-inline: 2rem;
        }
    }

    p{
        color: $--default;
        text-align: center;

        @include mobile(){
            display: none;
        }
    }


    #hideNav, #showNav{
        font-size: 1.5rem;
        align-self: center;
        color: $--secondary;
        font-weight: 900;
    }
    #showNav{
        display: none;
        @include mobile(){
            display: block;
        }
    }
    #hideNav{
        display: none
    }
}
// Mobile Nav
#mNav{
    @extend nav;
    width: 50%;
    height: 100vh;
    display: grid;
    position: fixed;
    inset: 0 50% 0 0;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem;
    margin: 0;
    z-index: 1;
    opacity: 7;


    h3{
        display: block;
        text-align: center;
        margin: auto;
    }

    ul{
        display: block;

        li{
            font-size: 1.2rem;
            width: 100%;
        }
    }

    .nav--buttons--container{
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    #close{
        position: absolute;
        top: 0;
        left: 0;
    }

    p{
        display: block;
    }
    
}
#top--nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $--main;
    padding: 0.5rem 1rem;
    z-index: 1000;

    #showNavIcon, #hideNavIcon{
        display: none;
        z-index: 10000;
        color: $--default !important;
        font-size: 1.2rem;
        cursor: pointer;
    }

    div{
        width: 100%;
        @include flex(row);
        justify-content: space-between;

        ul{
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: center;
            justify-content: space-between;
    
            li{
                font-family: $--Blinker;
                font-size: 1.3rem;
    
                &:last-child{
                    padding-inline: 0.7rem;
                    border: 1px solid $--secondary;
                    border-radius: 0.5rem;
                }
            }
        }
        
    }
    @include mobile(){
        flex-direction: column;
        justify-content: center;

        #showNavIcon{
            display: block;
            margin-left: 0;
        }

        div{
            display: none;
            flex-direction: column;
            justify-content: center;
            margin: 0;
            height: 100vh;

            ul{
                margin: auto;
                width: 100%;
                flex-direction: column;
                height: 100vh;
                justify-content: center;
    
                &:first-child{
                    display: none;
                }
            }
        }
    }
}


// Main Component
#main{
    @include containerDesktop;
}

// SIGN UP component

#signup{
    @include containerDesktop;
    width: 100%;
    color: $--default;
    font-family: $--Noto;

    @include mobile(){
        width: 100% !important;
    }

    .confirm{
        border: solid red;
        display: inline;
        

        input{
            width: 50px;
            margin: 0.5rem;
            height: 1rem;
            border: 0;
        }
        button{
            width: max-content;
            height: max-content;
            padding: 1rem;
            margin: 1rem;
        }
        label{
            font-size: 1.5rem;
            margin: 0.5rem;
        }
    }
    
    form{
        @include flex(column);
        text-align: left;
        width: 50%;
        padding: 2rem;
        background-color: $--main;
        border-radius: 0.5rem;
        margin: auto;

        a{
            font-weight: bolder;
        }

        div{
            margin: auto;
            width: 80%;
            
            @include mobile(){
                width: 100%;
            }

            input, select{
                width: 100%;
            }
        }

        @include mobile(){
            width: 90%;
            padding: 1rem;
        }
    }
}

// LOGIN Component
#login{
    @extend #signup;
    width: 100%;
}

// reset password component
#resetPass{
    @extend #signup;
    width: 100%;
}

// user settings component
#userSettings{
    @extend #signup;
    width: 80%;
}

// UPLOAD component
#upload{
    @extend #signup;
    width: 80%;

}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: auto;
    margin-top: 3rem;
    background-color: $--main;

    div:first-child{
        width: 85%;
        padding-top: 3rem;
        @include flex(row);
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    ul{
        font-size: 1rem;
        a{
            color: inherit;
            text-transform: none;
        }
        li{
            color: $--default;
            line-height: 2;

            &:first-child{
                color: $--primary;
                text-transform: uppercase;
                font-family: $--Blinker;
                letter-spacing: 1px;
                font-size: 1.2rem;
            }
        }

    }
    
    
    p{
        margin: auto;
        text-align: center;
        color: $--default;

        @include mobile(){
            font-size: 0.8rem;
        }
    }

    a{
        text-transform: inherit;
    }
}

.header--footer{
    @extend footer;
    position: initial;
    margin-top: 5rem;

    @include mobile(){
        div:first-child{
            margin: auto;
            width: 90%;
            justify-content: space-between;
            gap: 2rem;
        }

        li:first-child{
            font-size: 1rem !important;
        }
    }
}
