@import './variables';
@import './mixins';
@import './notesPage';
@import './nav';
@import './homepage';
@import './dashboard';
@import './takeArest';
@import './forum';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body{
    margin: auto;
    scroll-behavior: smooth;
    font-family: $--SpaceGrotesk;
    width: 100%;
    height: 100%;
    background-color: $--bgColor;
    line-height: 1.6;
    word-wrap: break-word;
}

a{
    color: $--secondary;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
}
img{
    margin: auto;
    display: block;
    max-width: 100%;
    object-fit: cover;
}
ul{
    list-style-type: none;
}
div,
button,
h1,h2,h3,h4,h5,h6,
span,p{
    margin: 0;
}
h1{
    font-family: $--SpaceGrotesk;
    font-size: 3.5rem;
    font-weight: 700 !important;

    @include mobile(){
        font-size: 1.8rem;
    }
    @include screenSize(280px){
        font-size: 1.4rem;
    }
}
h2{
    font-family: $--SpaceGrotesk;
    font-size: 1.7rem;
    text-transform: capitalize;

    @include mobile(){
        font-size: 1.15rem;
    }

    @include screenSize(280px){
        font-size: 1rem;
    }

    @include tablet(){
        font-size: 1.7rem;
    }
    
}
h3{
    font-family: $--SpaceGrotesk;
    text-transform: Capitalize;

    @include mobile(){
        font-size: 1rem;
    }

    @include screenSize(280px){
        font-size: 0.85rem;
    }
}
h4{
    text-transform: uppercase;
    font-family: $--SpaceGrotesk;
    font-size: 1rem;

    @include mobile(){
        font-size: 0.8rem;
    }
}
p{
    text-align: justify;

    @include screenSize(280px){
        font-size: 0.8rem;
    }
}
span{
    color: $--secondary;
}
i{
    text-transform: lowercase;
}
input, 
select,  
textarea{
    width: 80%;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 0.8rem 0.5rem;
    border: 1px solid $--primary;
    border-radius: 0.3rem;
    // background-color: $--bgColor;
    color: $--secondary;
    caret-color: $--primary;
    resize: none;
    
    &:hover{
        @include border;
    }

    @include mobile(){
        width: 100%;
        font-size: 16px;
    }

}

input[type=submit]{
    font-family: $--SpaceGrotesk;
    background-color: $--primary;
    color: $--secondary;
    font-weight: 1000;
    text-transform: capitalize;
    box-shadow: 2px 0 $--extras;
    border-radius: 0.5rem;
    border: 0px solid $--primary;
    cursor: pointer;

    &:hover{
        background-color: $--extras;
    }

    @include mobile(){
        font-weight: 100;
        -webkit-border-radius:0;
        -webkit-appearance: none; 
    }
}
::placeholder{
    font-size: 1rem;
}

button{
    @extend input;
    width: max-content;
    background-color: $--primary;
    font-size: 1rem;
    font-weight: 400;
    border: 0;
    text-transform: capitalize;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    color: $--secondary;
    box-shadow: 2px 0 $--extras;
    cursor: pointer;

    &:hover{
        background-color: $--extras;
        color: $--default;
    }

    @include mobile(){
        font-weight: 100;
    }
}
label{
    font-size: 1.1rem;
    text-align: left;

    @include mobile(){
        font-size: 1rem;
    }
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.loader{
    margin: auto;
    width: 100% !important;
    height: 100vh !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
}
.error{
    color: red;
}
.success{
    color: $--primary;
}

// setting toastify width
.Toastify{
    .Toastify__close-button{
        width: max-content;
    }
    .Toastify__close-button--light{
        width: max-content;
    }
}

// COMPONENTS STYLING starts here




// Main Component
#main{
    @include containerDesktop;
}

// SIGN UP component

#signup{
    @include containerDesktop;
    width: 100%;
    color: $--secondary;
    font-family: $--SpaceGrotesk;
    background-color: $--bgColor2;

    @include mobile(){
        width: 100% !important;
        height: auto;
    }

    .confirm{
        display: inline;
        @include flex(column);

        .options{
            @include flex(row);
            margin-block: 1rem;

            @include mobile{
                flex-direction: column;
            }
        }
        

        input{
            width: 50px;
            margin: 0.5rem;
            height: 1rem;
            border: 0;
        }

        button{
            width: max-content;
            height: max-content;
            padding: 1rem;
            margin: 1rem;
        }
        label{
            font-size: 1.5rem;
            margin: 0.5rem;
        }
    }
    
    form{
        @include flex(column);
        width: 40%;
        padding: 2rem;
        background-color: $--main;
        border-radius: 0.5rem;
        margin: auto;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


        a{
            font-weight: bolder;
        }
        p{
            text-align: center;
        }

        .input--field{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;

            span{
                position: absolute;
                text-align: right;
                margin: 1rem;
                margin-top: 1.5rem;
                color: rgb(165, 163, 163);
            }
        }

        div{
            margin: auto;
            width: 80%;
            
            @include mobile(){
                width: 100%;
            }


            input, select{
                width: 100%;
            }
        }

        @include mobile(){
            width: 90%;
            padding: 1rem;
            min-height: 50vh;
            margin-block: 2rem;
        }
    }
}

// LOGIN Component
#login{
    @extend #signup;
    width: 100%;
}

// reset password component
#resetPass{
    @extend #signup;
    width: 100%;
}

// user settings component
#userSettings{
    @extend #signup;
    width: 85%;
}

// UPLOAD component
#upload{
    @extend #signup;
    width: 85%;

}

.error--page{
    width: 100%;
    height: 100vh;
    background-color: $--default;
    @include flex(column);
    
    *{

        text-align: center;
    }

    h1{
        color: red;
    }


}

footer{
    width: 85%;
    float: right;
    margin: auto;
    background-image: url('../wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    // margin-top: 3rem;
    // background-color: $--main;

    @include mobile{
        width: 100%;
    }

    div:first-child{
        margin: auto;
        width: 85%;
        padding-top: 3rem;
        @include flex(row);
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    h4{
        color: $--primary;
    }

    ul{
        font-size: 1rem;

        a{
            color: inherit;
            text-transform: none;
        }
        li{
            line-height: 2;

            &:first-child{
                color: $--primary;
                text-transform: uppercase;
                font-family: $--SpaceGrotesk;
                letter-spacing: 1px;
                font-size: 1.2rem;
                font-weight: bold;
            }
        }

    }
    
    
    p{
        margin: auto;
        text-align: center;

        @include mobile(){
            font-size: 0.8rem;
        }
    }

    a{
        text-transform: inherit;
    }
}

.header--footer{
    @extend footer;
    width: 100%;
    float: none;
    background-image: url('../wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin-top: 5rem;

    @include mobile(){
        div:first-child{
            margin: auto;
            width: 90%;
            justify-content: space-between;
            gap: 2rem;
        }

        li:first-child{
            font-size: 1rem !important;
        }
    }
}
