#notes {
  width: 85%;
  min-height: 100vh;
  float: right;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-self: center;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  #notes {
    width: 100%;
  }
}
#notes .accordion--container {
  width: 70%;
  background-color: #fff;
  padding: 3rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#notes .accordion--container p {
  color: #1a2930;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  #notes .accordion--container {
    width: 90%;
  }
}
#notes .accordion--container .accordion {
  padding-block: 1rem;
}
#notes .accordion--container .accordion .accordion--tab, #notes .accordion--container .accordion .notes--detail .level {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #1a2930;
  border-bottom: 1px solid #1a2930;
  padding-block: 0.5rem;
  align-items: center;
  cursor: pointer;
}
#notes .accordion--container .accordion .accordion--tab h2, #notes .accordion--container .accordion .notes--detail .level h2 {
  color: #1a2930;
  font-size: 1.5rem;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  #notes .accordion--container .accordion .accordion--tab h2, #notes .accordion--container .accordion .notes--detail .level h2 {
    font-size: 1rem;
  }
}
#notes .accordion--container .accordion .accordion--tab h2:last-child, #notes .accordion--container .accordion .notes--detail .level h2:last-child {
  color: #ffbd0c;
}
#notes .accordion--container .accordion .notes--detail {
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#notes .accordion--container .accordion .notes--detail #Level1, #notes .accordion--container .accordion .notes--detail #Level2, #notes .accordion--container .accordion .notes--detail #Level3, #notes .accordion--container .accordion .notes--detail #Level4, #notes .accordion--container .accordion .notes--detail #Level5,
#notes .accordion--container .accordion .notes--detail #others1, #notes .accordion--container .accordion .notes--detail #others2, #notes .accordion--container .accordion .notes--detail #others3, #notes .accordion--container .accordion .notes--detail #others4, #notes .accordion--container .accordion .notes--detail #others5 {
  display: none;
}
#notes .accordion--container .accordion .notes--detail .level h2 {
  font-size: 1.15rem;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  #notes .accordion--container .accordion .notes--detail .level h2 {
    font: 0.8rem;
  }
}
#notes .accordion--container .accordion .notes--detail .note--title {
  display: flex;
  flex-direction: column;
  margin-block: 1rem;
  border-left: solid #ffbd0c;
  padding-inline: 0.5rem;
}
#notes .accordion--container .accordion .notes--detail .note--title p {
  text-transform: uppercase;
  color: #ffbd0c;
  font-weight: bold;
}
#notes .accordion--container .accordion .notes--detail .note--title span {
  text-transform: capitalize !important;
}
#notes .accordion--container .accordion .notes--detail .note--title div:last-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  justify-content: end;
}
#notes .accordion--container .accordion .notes--detail .note--title div:last-child small {
  color: #1a2930;
}
#notes .accordion--container .accordion .notes--detail .note--title div:last-child button {
  padding: 1px 0.3rem;
}
#notes .accordion--container .accordion .notes--detail .note--title div:last-child button a {
  color: #1a2930;
  font-size: 0.8rem;
  text-transform: capitalize;
  padding: 1px 0.3rem;
}
#notes .accordion--container .accordion .notes--detail .note--title div:last-child button a:hover {
  color: #fff;
}
#notes .accordion--container .accordion .notes--detail p {
  color: #ffbd0c;
}

nav, #mNav {
  position: fixed;
  left: 0;
  width: 15%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  padding-block: 2rem;
  z-index: 9;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  nav, #mNav {
    display: block;
    top: 0;
    height: auto;
    width: 100%;
    padding: 0.5rem;
  }
}
nav h3, #mNav h3 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #1a2930;
  text-transform: lowercase;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  nav h3, #mNav h3 {
    display: none;
  }
}
nav i, #mNav i {
  padding-block: 1rem;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  nav i, #mNav i {
    display: none;
  }
}
nav ul, #mNav ul {
  width: 100%;
  margin: auto;
  font-family: "Space Grotesk", sans-serif;
  color: #1a2930;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  nav ul, #mNav ul {
    display: none;
  }
}
nav ul li, #mNav ul li {
  width: 100%;
  padding: 1rem 0.5rem;
  margin-block: 2rem;
  border-top: 1px solid #1a2930;
  border-bottom: 1px solid #1a2930;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}
nav ul li:hover, #mNav ul li:hover {
  color: #ffbd0c;
}
@media only screen and (min-width: 1001px) and (max-width: 1500px) {
  nav ul li, #mNav ul li {
    font-size: 1.3rem;
  }
}
nav .nav--buttons--container, #mNav .nav--buttons--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 50%;
  margin: auto;
}
nav .nav--buttons--container button, #mNav .nav--buttons--container button, nav .nav--buttons--container .nav--buttons--Link, #mNav .nav--buttons--container .nav--buttons--Link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav .nav--buttons--container button:hover, #mNav .nav--buttons--container button:hover, nav .nav--buttons--container .nav--buttons--Link:hover, #mNav .nav--buttons--container .nav--buttons--Link:hover {
  color: #ffbd0c;
}
nav .nav--buttons--container button a, #mNav .nav--buttons--container button a, nav .nav--buttons--container .nav--buttons--Link a, #mNav .nav--buttons--container .nav--buttons--Link a {
  color: black;
}
nav .nav--buttons--container button a:hover, #mNav .nav--buttons--container button a:hover, nav .nav--buttons--container .nav--buttons--Link a:hover, #mNav .nav--buttons--container .nav--buttons--Link a:hover {
  color: #ffbd0c;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  nav .nav--buttons--container, #mNav .nav--buttons--container {
    display: none;
  }
}
@media only screen and (min-width: 1001px) and (max-width: 1500px) {
  nav .nav--buttons--container, #mNav .nav--buttons--container {
    width: 100%;
    padding-inline: 2rem;
  }
}
nav p, #mNav p {
  text-align: center;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  nav p, #mNav p {
    display: none;
  }
}
nav #hideNav, #mNav #hideNav, nav #showNav, #mNav #showNav {
  font-size: 1.5rem;
  align-self: center;
  color: #1a2930;
  font-weight: 900;
}
nav #showNav, #mNav #showNav {
  display: none;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  nav #showNav, #mNav #showNav {
    display: block;
  }
}
nav #hideNav, #mNav #hideNav {
  display: none;
}

#mNav {
  width: 50%;
  height: 100vh;
  display: grid;
  position: fixed;
  inset: 0 50% 0 0;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem;
  margin: 0;
  z-index: 1;
  opacity: 7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#mNav h3 {
  display: block;
  text-align: center;
  margin: auto;
}
#mNav ul {
  display: block;
}
#mNav ul li {
  font-size: 1rem;
  width: 100%;
}
#mNav .nav--buttons--container {
  display: flex;
  flex-direction: column;
  width: 80%;
}
#mNav #close {
  position: absolute;
  top: 0;
  left: 0;
}
#mNav p {
  display: block;
}

header {
  width: 80%;
  margin: auto;
  margin-block: 5rem;
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
header div > img {
  width: 80%;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  header div > img {
    width: 85%;
  }
}
header div {
  padding: 1rem;
}
header .info * {
  padding-block: 0.5rem;
}
header .info h1 {
  width: 100%;
  line-height: normal;
  text-transform: none;
  color: #1a2930;
  text-shadow: 1px 1px 2px #fff;
}
header .info p {
  font-size: 1rem;
  line-height: 2;
}
@media only screen and (max-width: 280px) {
  header .info p {
    font-size: 0.8rem;
  }
}
header .info button {
  font-weight: bolder;
  font-size: 1.2rem;
  padding: 1rem;
}
header .info button:hover {
  background-color: #1a2930;
}
header .info button a {
  color: #1a2930;
  font-weight: bolder;
}
header .info button a:hover {
  background-color: #1a2930;
  color: #fff;
}
@media only screen and (max-width: 280px) {
  header .info button {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 90%;
    gap: 2rem;
    margin-block: 4rem;
  }
  header .info {
    padding: 0;
    margin: 0;
    margin-top: -2rem;
  }
  header .info * {
    padding-block: 0.1rem;
  }
  header .info h2 {
    font-size: 1.4rem;
    text-shadow: 1px 1px 1px #fff;
  }
  header .info button {
    font-weight: normal;
    font-size: 1rem;
    border-radius: 0.3rem;
  }
}

.homepage--sizing, .how--to, #mini--section {
  width: 70%;
  margin: auto;
  margin-block: 2rem;
  border-radius: 1rem;
  background-color: #fff;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#mini--section {
  background-color: #ffbd0c;
  justify-content: space-evenly;
  color: #1a2930;
}
#mini--section a {
  color: inherit;
}
#mini--section button {
  background-color: #1a2930;
  color: #fff;
}
#mini--section div {
  width: 60%;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  #mini--section {
    width: 90%;
    flex-direction: column;
    padding: 1rem;
  }
  #mini--section * {
    text-align: center;
  }
}
@media only screen and (min-width: 280px) and (max-width: 1000px) and (min-width: 280px) and (max-width: 1000px) {
  #mini--section div {
    width: 100%;
  }
}

.card1, .card5, .card4, .card3, .card2 {
  background-color: #ffbd0c;
  width: 350px;
  height: 260px;
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  padding: 1rem;
  margin: 2rem auto;
  transition: all 300ms;
}
.card1:hover, .card5:hover, .card4:hover, .card3:hover, .card2:hover {
  transform: scale(1.05);
}
@media only screen and (max-width: 500px) {
  .card1, .card5, .card4, .card3, .card2 {
    width: 90%;
    margin: auto;
  }
}
@media only screen and (max-width: 280px) {
  .card1, .card5, .card4, .card3, .card2 {
    width: 100%;
  }
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  .card1, .card5, .card4, .card3, .card2 {
    height: auto;
  }
}
.card1 *, .card5 *, .card4 *, .card3 *, .card2 * {
  padding-block: 0.1rem;
  text-align: justify;
}
.card1 h3, .card5 h3, .card4 h3, .card3 h3, .card2 h3 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 1.5rem;
}
.card1 h2, .card5 h2, .card4 h2, .card3 h2, .card2 h2 {
  font-size: 1.5rem;
  color: #fff;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  .card1 h2, .card5 h2, .card4 h2, .card3 h2, .card2 h2 {
    font-size: 1.2rem;
  }
}
.card1 p, .card5 p, .card4 p, .card3 p, .card2 p {
  font-size: 1.1rem;
  font-weight: normal;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  .card1 p, .card5 p, .card4 p, .card3 p, .card2 p {
    font-size: 1rem;
  }
}

.card2 {
  background-color: #1a2930;
}
.card2 h2 {
  color: #ffbd0c;
}
.card2 h3, .card2 p {
  color: #fff;
}

.card3 {
  background-color: #f6f6f6;
}
.card3 h2, .card3 p {
  color: #1a2930;
}
.card3 h3 {
  color: #ffbd0c;
}

.card5 {
  background-color: #d89d00;
}
.card5 h2 {
  color: #fff;
}
.card5 h3 {
  color: #ffbd0c;
}
.card5 p {
  color: #fff;
}

.how--to {
  justify-content: center;
  background-color: #fff;
  flex-wrap: wrap;
}
.how--to > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  justify-content: space-evenly;
}
.how--to > div .arrow--right {
  font-size: 2rem;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  .how--to > div .arrow--right {
    display: none;
  }
}
.how--to > div .arrow--down {
  font-size: 2rem;
  display: none;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  .how--to > div .arrow--down {
    display: block;
  }
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  .how--to > div {
    flex-direction: column;
  }
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  .how--to {
    width: 90%;
    padding: 1rem;
  }
}

#top--nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  padding: 0.5rem 1rem;
  z-index: 1000;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.05);
}
#top--nav #showNavIcon, #top--nav #hideNavIcon {
  display: none;
  z-index: 10000;
  color: #1a2930 !important;
  font-size: 1.2rem;
  cursor: pointer;
}
#top--nav div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}
#top--nav div ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
#top--nav div ul li {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.3rem;
}
#top--nav div ul li:last-child {
  padding-inline: 0.7rem;
  border: 1px solid #1a2930;
  border-radius: 0.5rem;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  #top--nav {
    flex-direction: column;
    justify-content: center;
  }
  #top--nav #showNavIcon {
    display: block;
    margin-left: 0;
  }
  #top--nav div {
    display: none;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    height: 100vh;
  }
  #top--nav div ul {
    margin: auto;
    width: 100%;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
  }
  #top--nav div ul:first-child {
    display: none;
  }
}

#dashboard {
  margin: auto;
}
#dashboard > div {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#dashboard > div .cards--section {
  text-align: center;
}
#dashboard > div .flex {
  flex-wrap: wrap;
}
#dashboard > div .dash--card {
  width: 22rem;
  height: 10rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  gap: 2rem;
  background-color: #ffbd0c;
  color: #fff;
  border: 1px solid #ffbd0c;
  border-radius: 0.3rem;
}
#dashboard > div .dash--card .icon {
  font-size: 3rem;
}
#dashboard .form--section form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  margin: auto;
  text-align: center;
}
#dashboard .form--section form a {
  font-weight: bolder;
}
#dashboard .form--section form p {
  text-align: center;
}
#dashboard .form--section form div {
  margin: auto;
  width: 80%;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  #dashboard .form--section form div {
    width: 100%;
  }
}
#dashboard .form--section form div input, #dashboard .form--section form div button, #dashboard .form--section form div select {
  width: 100%;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  #dashboard .form--section form {
    width: 90%;
    padding: 1rem;
  }
}

#games {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#games .title {
  width: 100%;
  background-color: #ffbd0c;
  text-align: center;
  padding-block: 1rem;
}
#games * {
  text-align: center;
}
#games .games--section {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  gap: 3rem;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  #games .games--section {
    width: 100%;
  }
}
#games .games--section p {
  text-transform: capitalize;
}
#games .games--section .game--card {
  width: 60%;
  padding: 2rem;
  background-color: #1a2930;
  margin: 2rem 1rem;
  text-align: center;
  text-transform: uppercase;
  color: #ffbd0c;
  border-radius: 1rem;
}
#games .games--section .game--card iframe {
  border-radius: 1rem;
  width: 100%;
  height: 350px;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  #games .games--section .game--card {
    width: 95%;
    padding: 1rem;
  }
}
@media only screen and (min-width: 1001px) and (max-width: 1500px) {
  #games .games--section {
    flex-direction: column;
  }
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  #games .games--section {
    flex-direction: column;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  margin: auto;
  scroll-behavior: smooth;
  font-family: "Space Grotesk", sans-serif;
  width: 100%;
  height: 100%;
  background-color: #fff9eb;
  line-height: 1.6;
  word-wrap: break-word;
}

a {
  color: #1a2930;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
}

img {
  margin: auto;
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul {
  list-style-type: none;
}

div,
button,
h1, h2, h3, h4, h5, h6,
span, p {
  margin: 0;
}

h1 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 3.5rem;
  font-weight: 700 !important;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  h1 {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 280px) {
  h1 {
    font-size: 1.4rem;
  }
}

h2 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.7rem;
  text-transform: capitalize;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  h2 {
    font-size: 1.15rem;
  }
}
@media only screen and (max-width: 280px) {
  h2 {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1001px) and (max-width: 1500px) {
  h2 {
    font-size: 1.7rem;
  }
}

h3 {
  font-family: "Space Grotesk", sans-serif;
  text-transform: Capitalize;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  h3 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 280px) {
  h3 {
    font-size: 0.85rem;
  }
}

h4 {
  text-transform: uppercase;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  h4 {
    font-size: 0.8rem;
  }
}

p {
  text-align: justify;
}
@media only screen and (max-width: 280px) {
  p {
    font-size: 0.8rem;
  }
}

span {
  color: #1a2930;
}

i {
  text-transform: lowercase;
}

input, button,
select,
textarea {
  width: 80%;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.8rem 0.5rem;
  border: 1px solid #ffbd0c;
  border-radius: 0.3rem;
  color: #1a2930;
  caret-color: #ffbd0c;
  resize: none;
}
input:hover, button:hover,
select:hover,
textarea:hover {
  border: 1px solid #ffbd0c;
  border-radius: 0.3rem;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  input, button,
select,
textarea {
    width: 100%;
    font-size: 16px;
  }
}

input[type=submit], button[type=submit] {
  font-family: "Space Grotesk", sans-serif;
  background-color: #ffbd0c;
  color: #1a2930;
  font-weight: 1000;
  text-transform: capitalize;
  box-shadow: 2px 0 #d89d00;
  border-radius: 0.5rem;
  border: 0px solid #ffbd0c;
  cursor: pointer;
}
input[type=submit]:hover, button[type=submit]:hover {
  background-color: #d89d00;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  input[type=submit], button[type=submit] {
    font-weight: 100;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
  }
}

::-moz-placeholder {
  font-size: 1rem;
}

:-ms-input-placeholder {
  font-size: 1rem;
}

::placeholder {
  font-size: 1rem;
}

button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #ffbd0c;
  font-size: 1rem;
  font-weight: 400;
  border: 0;
  text-transform: capitalize;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  color: #1a2930;
  box-shadow: 2px 0 #d89d00;
  cursor: pointer;
}
button:hover {
  background-color: #d89d00;
  color: #fff;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  button {
    font-weight: 100;
  }
}

label {
  font-size: 1.1rem;
  text-align: left;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  label {
    font-size: 1rem;
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.loader {
  margin: auto;
  width: 100% !important;
  height: 100vh !important;
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column;
}

.error {
  color: red;
}

.success {
  color: #ffbd0c;
}

.Toastify .Toastify__close-button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.Toastify .Toastify__close-button--light {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#main {
  width: 85%;
  min-height: 100vh;
  float: right;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  #main {
    width: 100%;
  }
}

#signup, #upload, #userSettings, #resetPass, #login {
  width: 85%;
  min-height: 100vh;
  float: right;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  color: #1a2930;
  font-family: "Space Grotesk", sans-serif;
  background-color: #f6f6f6;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  #signup, #upload, #userSettings, #resetPass, #login {
    width: 100%;
  }
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  #signup, #upload, #userSettings, #resetPass, #login {
    width: 100% !important;
  }
}
#signup .confirm, #upload .confirm, #userSettings .confirm, #resetPass .confirm, #login .confirm {
  display: inline;
}
#signup .confirm input, #upload .confirm input, #userSettings .confirm input, #resetPass .confirm input, #login .confirm input, #signup .confirm button, #upload .confirm button, #userSettings .confirm button, #resetPass .confirm button, #login .confirm button {
  width: 50px;
  margin: 0.5rem;
  height: 1rem;
  border: 0;
}
#signup .confirm button, #upload .confirm button, #userSettings .confirm button, #resetPass .confirm button, #login .confirm button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 1rem;
  margin: 1rem;
}
#signup .confirm label, #upload .confirm label, #userSettings .confirm label, #resetPass .confirm label, #login .confirm label {
  font-size: 1.5rem;
  margin: 0.5rem;
}
#signup form, #upload form, #userSettings form, #resetPass form, #login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 40%;
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  margin: auto;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#signup form a, #upload form a, #userSettings form a, #resetPass form a, #login form a {
  font-weight: bolder;
}
#signup form p, #upload form p, #userSettings form p, #resetPass form p, #login form p {
  text-align: center;
}
#signup form div, #upload form div, #userSettings form div, #resetPass form div, #login form div {
  margin: auto;
  width: 80%;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  #signup form div, #upload form div, #userSettings form div, #resetPass form div, #login form div {
    width: 100%;
  }
}
#signup form div input, #upload form div input, #userSettings form div input, #resetPass form div input, #login form div input, #signup form div button, #upload form div button, #userSettings form div button, #resetPass form div button, #login form div button, #signup form div select, #upload form div select, #userSettings form div select, #resetPass form div select, #login form div select {
  width: 100%;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  #signup form, #upload form, #userSettings form, #resetPass form, #login form {
    width: 90%;
    padding: 1rem;
  }
}

#login {
  width: 100%;
}

#resetPass {
  width: 100%;
}

#userSettings {
  width: 85%;
}

#upload {
  width: 85%;
}

.error--page {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.error--page * {
  text-align: center;
}
.error--page h1 {
  color: red;
}

footer, .header--footer {
  width: 85%;
  float: right;
  margin: auto;
  background-image: url("../wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  footer, .header--footer {
    width: 100%;
  }
}
footer div:first-child, .header--footer div:first-child {
  margin: auto;
  width: 85%;
  padding-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}
footer h4, .header--footer h4 {
  color: #ffbd0c;
}
footer ul, .header--footer ul {
  font-size: 1rem;
}
footer ul a, .header--footer ul a {
  color: inherit;
  text-transform: none;
}
footer ul li, .header--footer ul li {
  line-height: 2;
}
footer ul li:first-child, .header--footer ul li:first-child {
  color: #ffbd0c;
  text-transform: uppercase;
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: 1px;
  font-size: 1.2rem;
  font-weight: bold;
}
footer p, .header--footer p {
  margin: auto;
  text-align: center;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  footer p, .header--footer p {
    font-size: 0.8rem;
  }
}
footer a, .header--footer a {
  text-transform: inherit;
}

.header--footer {
  width: 100%;
  float: none;
  background-image: url("../wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin-top: 5rem;
}
@media only screen and (min-width: 280px) and (max-width: 1000px) {
  .header--footer div:first-child {
    margin: auto;
    width: 90%;
    justify-content: space-between;
    gap: 2rem;
  }
  .header--footer li:first-child {
    font-size: 1rem !important;
  }
}/*# sourceMappingURL=style.css.map */