
$--main: #344648;
$--bgColor: #7d8e95;
$--primary: #fbe0c3;
$--secondary: #fcccb4;
$--default: rgb(224, 224, 224);
// fonts
$--Noto:  'PT Mono', monospace;
// $--Righteous:  'Righteous', cursive;
$--Blinker:  'Blinker', sans-serif;
// $--Righteous:  'Inter', sans-serif;
$--Ubuntu: 'Ubuntu Mono', monospace;