

$--main: #1a2930;
// $--main: #344648;
// $--bgColor: #7d8e95;
$--bgColor: #c5c1c0;
$--primary: #f7ce3e;
// $--primary: #fbe0c3;
$--secondary: #e3dcda;
// $--secondary: #fcccb4;
// $--default: rgb(224, 224, 224);
$--default: #fff;
// fonts
$--Noto:  'PT Mono', monospace;
// $--Righteous:  'Righteous', cursive;
$--Blinker:  'Blinker', sans-serif;
// $--Righteous:  'Inter', sans-serif;
$--Ubuntu: 'Ubuntu Mono', monospace;