$--main: #1a2930;
$--bgColor: #c5c1c0;
$--primary: #f7ce3e;
$--secondary: #e3dcda;
$--default: #fff;

// fonts
$--Noto:  'PT Mono', monospace;
$--Blinker:  'Blinker', sans-serif;
$--Ubuntu: 'Ubuntu Mono', monospace;