* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@-webkit-keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: rotate(30deg);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: rotate(30deg);
  }
}
@-webkit-keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
html, body {
  margin: auto;
  scroll-behavior: smooth;
  font-family: "PT Mono", monospace;
  width: 100%;
  height: 100%;
  background-color: #c5c1c0;
  line-height: 1.6;
  word-wrap: break-word;
}

a {
  color: #e3dcda;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul {
  list-style-type: none;
}

div,
button,
h1, h2, h3, h4, h5, h6,
span, p {
  margin: 0;
}

h1 {
  font-family: "Blinker", sans-serif;
  text-transform: uppercase;
  font-size: 6vw;
}

h2 {
  font-family: "Blinker", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}
@media only screen and (max-width: 1000px) {
  h2 {
    font-size: 1.2rem;
  }
}

h3 {
  font-family: "Blinker", sans-serif;
  text-transform: Capitalize;
}
@media only screen and (max-width: 1000px) {
  h3 {
    font-size: 1rem;
  }
}

h4 {
  text-transform: uppercase;
  font-family: "Blinker", sans-serif;
  font-size: 1rem;
}
@media only screen and (max-width: 1000px) {
  h4 {
    font-size: 0.8rem;
  }
}

p {
  text-align: justify;
}

span {
  color: #e3dcda;
}

i {
  text-transform: lowercase;
}

input, button,
select,
textarea {
  width: 80%;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.8rem 0.5rem;
  border: 0px solid #f7ce3e;
  border-radius: 0.3rem;
  background-color: #c5c1c0;
  color: #1a2930;
  resize: none;
}
input:hover, button:hover,
select:hover,
textarea:hover {
  border: 1px solid #f7ce3e;
  border-radius: 0.3rem;
}
@media only screen and (max-width: 1000px) {
  input, button,
select,
textarea {
    width: 100%;
    font-size: 16px;
  }
}

input[type=submit], button[type=submit] {
  font-family: "Blinker", sans-serif;
  background-color: #f7ce3e;
  color: #1a2930;
  font-weight: 1000;
  cursor: pointer;
}
@media only screen and (max-width: 1000px) {
  input[type=submit], button[type=submit] {
    font-weight: 100;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
  }
}

::-moz-placeholder {
  font-size: 1rem;
}

:-ms-input-placeholder {
  font-size: 1rem;
}

::placeholder {
  font-size: 1rem;
}

button {
  font-family: "Blinker", sans-serif;
  font-size: 1rem;
  border: 0;
  background-color: #f7ce3e;
  text-transform: uppercase;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  color: black;
  cursor: pointer;
}
@media only screen and (max-width: 1000px) {
  button {
    font-weight: 100;
  }
}

label {
  font-size: 1.1rem;
  text-align: left;
}
@media only screen and (max-width: 1000px) {
  label {
    font-size: 1rem;
  }
}

.loader {
  margin: auto;
  width: 100% !important;
  height: 100vh !important;
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.error {
  color: red;
}

.success {
  color: #f7ce3e;
}

#home {
  width: 80%;
  height: 95vh;
  float: right;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 85%;
  align-self: center;
  margin-block: 25vh;
  height: 100%;
}
@media only screen and (max-width: 1000px) {
  #home {
    width: 100%;
  }
}
@media only screen and (max-width: 1000px) {
  #home {
    width: 100%;
  }
}
#home .accordion--container {
  width: 70%;
  background-color: #1a2930;
  padding: 3rem 1rem;
  border-radius: 0.5rem;
}
@media only screen and (max-width: 1000px) {
  #home .accordion--container {
    width: 90%;
  }
}
#home .accordion--container .accordion {
  padding-block: 1rem;
}
#home .accordion--container .accordion .accordion--tab {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e3dcda;
  border-bottom: 1px solid #e3dcda;
  padding-block: 0.5rem;
  align-items: center;
}
#home .accordion--container .accordion .accordion--tab h2 {
  color: #e3dcda;
}
#home .accordion--container .accordion .accordion--tab h2:last-child {
  color: #f7ce3e;
}
#home .accordion--container .accordion p {
  color: #f7ce3e;
}
#home .accordion--container .accordion .notes--detail {
  padding-block: 1rem;
}
#home .accordion--container .accordion .notes--detail a {
  color: #e3dcda;
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: normal;
  letter-spacing: normal;
}
#home .accordion--container .accordion .notes--detail h3 {
  font-family: "PT Mono", monospace;
  letter-spacing: 2px;
  padding-block: 0.5rem;
}
#home .accordion--container .accordion .notes--detail h3::before {
  content: "/";
  color: #f7ce3e;
}
#home .accordion--container .accordion .notes--detail h3 span {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #f7ce3e;
}
#home .accordion--container .accordion .notes--detail h3 i {
  margin-left: 1rem;
  text-transform: lowercase;
  font-weight: 100;
}

nav, #mNav {
  position: fixed;
  left: 0;
  width: 20%;
  height: 100vh;
  background-color: #1a2930;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  justify-content: space-around;
  z-index: 9;
}
@media only screen and (max-width: 1000px) {
  nav, #mNav {
    display: block;
    top: 0;
    height: auto;
    width: 100%;
    padding: 0.5rem;
  }
}
nav h3, #mNav h3 {
  padding-block: 1rem;
  color: #e3dcda;
}
@media only screen and (max-width: 1000px) {
  nav h3, #mNav h3 {
    display: none;
  }
}
nav i, #mNav i {
  padding-block: 1rem;
}
@media only screen and (max-width: 1000px) {
  nav i, #mNav i {
    display: none;
  }
}
nav ul, #mNav ul {
  margin: auto;
  text-transform: uppercase;
  font-family: "Blinker", sans-serif;
  font-size: 1.8rem;
  color: #e3dcda;
}
@media only screen and (max-width: 1000px) {
  nav ul, #mNav ul {
    display: none;
  }
}
nav li, #mNav li {
  padding: 1rem;
  margin-block: 2rem;
  border-top: 1px solid #f7ce3e;
  border-bottom: 1px solid #f7ce3e;
}
nav .nav--buttons--container, #mNav .nav--buttons--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-block: 1rem;
}
nav .nav--buttons--container button, #mNav .nav--buttons--container button {
  width: 100%;
}
nav .nav--buttons--container button a, #mNav .nav--buttons--container button a {
  color: black;
}
@media only screen and (max-width: 1000px) {
  nav .nav--buttons--container, #mNav .nav--buttons--container {
    display: none;
  }
}
nav #hideNav, #mNav #hideNav, nav #showNav, #mNav #showNav {
  font-size: 1.5rem;
  align-self: center;
  color: #e3dcda;
  font-weight: 900;
}
nav #showNav, #mNav #showNav {
  display: none;
}
@media only screen and (max-width: 1000px) {
  nav #showNav, #mNav #showNav {
    display: block;
  }
}
nav #hideNav, #mNav #hideNav {
  display: none;
}

#mNav {
  display: grid;
  position: fixed;
  width: auto;
  inset: 0 50% 0 0;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  z-index: 1;
}
#mNav h3 {
  display: block;
  text-align: center;
}
#mNav ul {
  display: block;
}
#mNav ul li {
  font-size: 1.2rem;
}
#mNav .nav--buttons--container {
  display: grid;
}
#mNav #close {
  position: absolute;
  top: 0;
  left: 0;
}

#main {
  width: 80%;
  height: 95vh;
  float: right;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media only screen and (max-width: 1000px) {
  #main {
    width: 100%;
  }
}

#signup, #upload, #resetPass, #login {
  width: 80%;
  height: 95vh;
  float: right;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #fff;
  font-family: "PT Mono", monospace;
}
@media only screen and (max-width: 1000px) {
  #signup, #upload, #resetPass, #login {
    width: 100%;
  }
}
#signup form, #upload form, #resetPass form, #login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: left;
  width: 60%;
  padding: 2rem;
  background-color: #1a2930;
  border-radius: 0.5rem;
}
#signup form a, #upload form a, #resetPass form a, #login form a {
  font-weight: bolder;
}
#signup form div, #upload form div, #resetPass form div, #login form div {
  margin: auto;
  width: 80%;
}
@media only screen and (max-width: 1000px) {
  #signup form div, #upload form div, #resetPass form div, #login form div {
    width: 100%;
  }
}
#signup form div input, #upload form div input, #resetPass form div input, #login form div input, #signup form div button, #upload form div button, #resetPass form div button, #login form div button, #signup form div select, #upload form div select, #resetPass form div select, #login form div select {
  width: 100%;
}
@media only screen and (max-width: 1000px) {
  #signup form, #upload form, #resetPass form, #login form {
    width: 85%;
    padding: 1rem;
  }
}

footer {
  position: fixed;
  bottom: 0;
  margin: auto;
  width: 100%;
  background-color: #1a2930;
}
footer p {
  margin: auto;
  text-align: center;
  color: #fff;
}
@media only screen and (max-width: 1000px) {
  footer p {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=style.css.map */